* {
  box-sizing: border-box;
}

body {
  font-family: Hanken Grotesk, sans-serif;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282726;
  max-width: 600px;
  max-height: 720px;
  padding: 50px;

  header {
    min-width: 320px;
    max-width: 352px;
    height: 144px;
    margin-bottom: 40px;
    color: #f9f4da;

    text-align: center;

    h1 {
      font-weight: 500;
      font-size: 1.25rem;
      margin-bottom: 4px;
    }

    span {
      font-weight: 500;
      font-size: 0.875rem;
      color: #8e8e8e;
    }

    div[class^="gameMessage"] {
      align-content: center;
      height: 60px;
      background-color: #7a5ea7;
      border: 1px solid #323232;
      border-radius: 4px;
      margin-top: 15px;

      &.hide {
        display: none;
      }

      h2 {
        font-weight: 500;
        font-size: 1.25rem;
        margin: 0;
        padding: 0;
      }

      h3 {
        font-weight: 500;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }

      h4 {
        font-weight: 400;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }

    div.gameMessage-win {
      background-color: #10a95b;
    }

    div.gameMessage-lose {
      background-color: #ba2a2a;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .languagesContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1.5px;
      min-width: 160px;
      max-width: 300px;

      div {
        display: flex;
        position: relative;

        span {
          padding: 4.5px;
          border-radius: 3px;
          font-weight: 700;
          font-size: 0.75rem;

          &.html {
            background-color: #e2680f;
            color: #f9f4da;
          }

          &.css {
            background-color: #328af1;
            color: #f9f4da;
          }

          &.javascript {
            background-color: #f4eb13;
            color: #1e1e1e;
          }

          &.react {
            background-color: #2ed3e9;
            color: #1e1e1e;
          }

          &.typescript {
            background-color: #298ec6;
            color: #1e1e1e;
          }

          &.python {
            background-color: #ffd742;
            color: #282726;
          }

          &.ruby {
            background-color: #d02b2b;
            color: #f9f4da;
          }

          &.assembly {
            background-color: #2d519f;
            color: #f9f4da;
          }

          &.snapped {
            opacity: 0.1;
          }

          &.snappedIcon {
            display: none;
            position: absolute;
            top: calc(50% - 12px);
            left: calc(50% - 12px);
            width: 12px;
            height: 12px;

            &.show {
              display: block;
            }
          }
        }

        span[class="node.js"] {
          background-color: #599137;
          color: #f9f4da;
        }
      }
    }

    .randomWordContainer {
      display: flex;
      gap: 2px;

      .letter {
        text-align: center;
        align-content: center;
        background-color: #323232;
        width: 40px;
        height: 40px;
        font-weight: 700;
        font-size: 1.125rem;
        color: #f9f4da;
        border-bottom: 1px solid #f9f4da;
      }
    }

    .alphabetContainer {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 8px;
      min-width: 352px;
      max-width: 480px;

      button {
        text-align: center;
        align-content: center;
        width: 40px;
        height: 40px;
        background-color: #fcba29;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        font-weight: 600;
        font-size: 1rem;
        color: #1e1e1e;

        &.selected {
          background-color: #ec5d49;

          &.inRandomWord {
            background-color: #10a95b;
          }
        }
      }
    }
  }

  .newGameButton {
    width: 228px;
    height: 40px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    background-color: #11b5e5;
    font-family: Hanken Grotesk, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #1e1e1e;
    margin-top: 30px;
  }
}
